[buildout]
develop = .
parts = pytest
newest = false

[pytest]
recipe = z3c.recipe.scripts
initialization =
    import sys
    if not sys.argv[1:]: sys.argv.append('src')
eggs =
    pytest
    cromlech.file [test]
